<h1>Orders</h1>
<div id="tabla" class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo de orden</th>
                <th scope="col">Cliente</th>
                <th scope="col">Email</th>
                <th scope="col">Productos</th>
                <th scope="col">Fecha de compra</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">1</th>
                <td>David</td>
                <td>{{ emailDavid }}</td>
                <td>Cacao</td>
                <td>{{ fechaCompraDavid }}</td>
                <td>{{ totalDavid }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Lucas</td>
                <td>{{ emailLucas }}</td>
                <td>Leche</td>
                <td>{{ fechaCompraLucas }}</td>
                <td>{{ totalLucas }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Tomas</td>
                <td>{{ emailTomas }}</td>
                <td>Azucar</td>
                <td>{{ fechaCompraTomas }}</td>
                <td>{{ totalTomas }}</td>
            </tr>
        </tbody>
    </table>
</div>