<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul>
            <li><a routerLink="/create-order" routerLinkActive="active" ariaCurrentWhenActive="page">Create Order</a></li>
        </ul>
        <ul>
            <li><a routerLink="/orders" routerLinkActive="active" ariaCurrentWhenActive="page">List Order</a></li>
        </ul>
        </div>
    </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>